@font-face {
  font-family: 'Avenir Next Cyr';
  src: local('Avenir Next Cyr Bold'), local('AvenirNextCyr-Bold'),
    url('../assets/fonts/AvenirNext/AvenirNextCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
  url('../assets/fonts/AvenirNext/AvenirNextCyr-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr Demi';
  src: url('../assets/fonts/AvenirNext/AvenirNextCyr-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';